body{
    background-color: #ooooo;
    font-size: 16pt;
}

h1{
    font-family: inherit;
    font-size: 30pt;
}

.menu a{
    margin: 0px;
    padding: 5px;
   
  
  
}

.menu:hover{
    border-radius: 16px;
    display: inline-block;
    background-color: lawngreen;

}

