
h1{
    font-family: inherit;
    font-size: 30pt;
}

.menu a{
    margin: 0px;
    padding: 5px;
    
}

.table tr td{
    margin: 1000px;
    padding: 100px;
    
}

.menu:hover{
    border-radius: 16px;
    display: inline-block;
    background-color: #B2F0F1 ;

}

#b_projects{
    font-size: 14pt;
}


